@import "shared";


html {
    font-size:   62.5%;   /* 10px */
}

body {
    font: {
        family: "Open Sans";
        size: 1.3rem;
    }
    padding: 20px;
    color:            #252525;
    background-color: #f9f9f9;
}

a {
    @extend %anchor;
}