<pagination-controls current-page="currentPage" entries-total="entriesTotal"
                     entries-per-page="entriesPerPage"
                     pagination-functions="paginationFunctions">
</pagination-controls>


<table class="data-table">
  <!-- Headers -->
  <thead>
    <tr>
      <th ng-repeat="header in headers" class="{{ header.type | lowercase }}">
        {{ header.name | tableHeaderName }}
      </th>
    </tr>
  </thead>

  <!-- Data rows -->
  <tbody>
    <tr ng-repeat="entry in entries"
        ng-if="$index | isOnDisplayedPage : currentPage : entriesPerPage">
      <td ng-repeat="header in headers" table-property entry="entry"
          name="header.name" type="header.type | propertyType"></td>
    </tr>
  </tbody>
</table>
